{% extends 'orders/base.html' %}
{% load static %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'orders/menu.js' %}"></script>
{% endblock %}

{% block content %}
<div id="menu-wrapper">
	<table>
		<thead>
			<tr>
				<th data-type="pizza">Regular Pizza</th>
			</tr>
		</thead>
		<tbody>
			{% for item in menu.regular_pizza %}
			<tr>
				<td>{{ item.item }}</td>
				{% if item.price %}
				<td class="price">{{ item.price }}</td>
				{% endif %}
				{% if item.large_price %}
				<td class="price large_price">{{ item.large_price }}</td>
				{% endif %}
				{% if user.is_authenticated %}
				<td><button>Add to cart</button></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</tbody>

	<table>
		<thead>
			<tr>
				<th data-type="pizza">Sicilian Pizza</th>
			</tr>
		</thead>
		<tbody>
			{% for item in menu.sicilian_pizza %}
			<tr>
				<td>{{ item.item }}</td>
				{% if item.price %}
				<td class="price">{{ item.price }}</td>
				{% endif %}
				{% if item.large_price %}
				<td class="price large_price">{{ item.large_price }}</td>
				{% endif %}
				{% if user.is_authenticated %}
				<td><button>Add to cart</button></td>
				{% endif %}
			</tr>
			{% endfor %}
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th data-type="topping">Toppings</th>
			</tr>
		</thead>
		<tbody>
			{% for item in menu.toppings %}
			<tr>
				<td class="topping-name">{{ item.item }}</td>
				{% if item.price %}
				<td class="price">{{ item.price }}</td>
				{% endif %}
				{% if item.large_price %}
				<td class="price large_price">{{ item.large_price }}</td>
				{% endif %}
			</tr>
			{% endfor %}
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th data-type="sub">Subs</th>
			</tr>
		</thead>
		<tbody>
			{% for item in menu.subs %}
			<tr>
				<td>{{ item.item }}</td>
				{% if item.price %}
				<td class="price">{{ item.price }}</td>
				{% endif %}
				{% if item.large_price %}
				<td class="price large_price">{{ item.large_price }}</td>
				{% endif %}
				{% if user.is_authenticated %}
				<td><button>Add to cart</button></td>
				{% endif %}
			</tr>
			{% endfor %}
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th data-type="pasta">Pasta</th>
			</tr>
		</thead>
		<tbody>
			{% for item in menu.pasta %}
			<tr>
				<td>{{ item.item }}</td>
				{% if item.price %}
				<td class="price">{{ item.price }}</td>
				{% endif %}
				{% if item.large_price %}
				<td class="price large_price">{{ item.large_price }}</td>
				{% endif %}
				{% if user.is_authenticated %}
				<td><button>Add to cart</button></td>
				{% endif %}
			</tr>
			{% endfor %}
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th data-type="salad">Salads</th>
			</tr>
		</thead>
		<tbody>
			{% for item in menu.salads %}
			<tr>
				<td>{{ item.item }}</td>
				{% if item.price %}
				<td class="price">{{ item.price }}</td>
				{% endif %}
				{% if item.large_price %}
				<td class="price large_price">{{ item.large_price }}</td>
				{% endif %}
				{% if user.is_authenticated %}
				<td><button>Add to cart</button></td>
				{% endif %}
			</tr>
			{% endfor %}
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th data-type="dinner">Dinner Platters</th>
			</tr>
		</thead>
		<tbody>
			{% for item in menu.dinner_platters %}
			<tr>
				<td>{{ item.item }}</td>
				{% if item.price %}
				<td class="price">{{ item.price }}</td>
				{% endif %}
				{% if item.large_price %}
				<td class="price large_price">{{ item.large_price }}</td>
				{% endif %}
				{% if user.is_authenticated %}
				<td><button>Add to cart</button></td>
				{% endif %}
			</tr>
			{% endfor %}
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}